*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h1{
    font-size: 70px;
    position: relative;
top: 100px;
}


.main{
    display: flex;
    flex-direction:column;
    position: relative;
    top: 300px;
    align-items: center;
}


#Taskinput{
    height: 40px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
}
#add{
    height: 43.2px;
    width: 75px;
    position: relative;
    z-index: 2;
    left: -20px;
    border-radius: 10px 10px 10px 10px;
}

.newdiv{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.tick{
    height: 20px;
    width: 20px;
    border-radius:50px;

}
.task{
    width: 300px;
   
}
.cross{
   height: 10px;
    width: 10px; 
    align-self: center;
     border-radius:50% ;
}