*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h1{
    font-size: 70px;
    position: relative;
top: 100px;
}

.input{
position: relative;
top: 300px;
display: flex;
left: 550px;

}

#Taskinput{
    height: 40px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
}
#add{
    height: 43.2px;
    width: 75px;
    position: relative;
    z-index: 2;
    left: -20px;
    border-radius: 10px 10px 10px 10px;
}
.main{
    display: flex;
    flex-direction: column;
}